BasedOnStyle: Webkit
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
ColumnLimit: 80
AlignTrailingComments: true
Standard: Cpp03
PointerAlignment: Right
SortIncludes: false
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
MaxEmptyLinesToKeep: 2
BreakBeforeBinaryOperators: All